<section class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 justify-content-center pt-4 pt-lg-0 order-1 order-lg-2"  >
        <img
          src="assets/images/road.svg"
          alt="road"
          class="img-fluid animated"
        />
      </div>

      <div
        class="col-lg-6 justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column row w-lg-50 "  >
            <h1 class="pb-5">اتّبع طريق تعلّمك الممهد</h1>
            <p class="fs-5 bs-linebreak">أكتب أي حرفة أو مجال تريد تعلمه وسنتكفل برسم طريق تعلّم مفصل على مزاجك</p>

            <div class="search-bar d-flex row w-lg-75">
                <div class="col-10 generate-entry">
                    <input class="form-control shadow-none border-0 " #entry placeholder="مثال: حرفة الكروشيه">
                </div>
                <button (click)="generateMap(entry.value)" class="col-2 generate-button p-2 border-0">ابدأ الآن</button>
          

            </div>
   </div>
    

    </div>
  </div>
</section>
