<div class="d-flex h-100 justify-content-center">
  <div class="row mx-auto d-flex w-100 align-self-center clearfix">
    <div
      class="order-lg-1 order-2 col-lg-1 col-6 d-flex align-items-center justify-content-start"
      (click)="disableNext ? null : goToNext()"
    >
      <img
        [src]="imgs_url + 'next.svg'"
        height="40%"
        width="40%"
        class="object-fit-contain"
        [style.opacity]="disableNext ? '0.3' : '1'"
      />
    </div>
    <div class="order-lg-2 order-1 col-lg-10 col-12">
      
      <h1  *ngIf="title; else skeltitle"  class="text-center my-5">{{ title }}</h1>
      <ng-template #skeltitle>
        <div class="py-5 mx-auto row d-flex w-50">
        <ngx-skeleton-loader
        animation="pulse"
        appearance="line"
        [theme]="{
          height: '40px',
         
          background: 'rgba(197, 194, 194, 0.7)'
        }"
        count="1"
        ></ngx-skeleton-loader>
      </div>
        </ng-template>
      <div *ngIf="isSmallScreen; else grid">
        <div *ngFor="let tile of tiles" class="row bg-light rounded p-2 m-1">
          <grid-wrapper
            *ngIf="currentStep; else skelton"
            [step]="currentStep"
            [type]="tile.type"
          ></grid-wrapper>
          <ng-template #skelton>
            <ngx-skeleton-loader
              animation="pulse"
              [appearance]="tile.skeltonType"
              [theme]="{
                height: '20px',
                background: 'rgba(197, 194, 194, 0.438)'
              }"
              [count]="tile.count"
            ></ngx-skeleton-loader>
          </ng-template>
        </div>
      </div>
      <ng-template #grid>
        <mat-grid-list cols="6" rowHeight="10:7" gutterSize="1rem">
          <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            class="tile shadow-sm top-left"
          >
            <div class="row d-flex w-100 p-3">
              <grid-wrapper
                *ngIf="currentStep; else skelton"
                [step]="currentStep"
                [type]="tile.type"
              ></grid-wrapper>
              <ng-template #skelton>
                <ngx-skeleton-loader
                  animation="pulse"
                  [appearance]="tile.skeltonType"
                  [theme]="{
                    height: tile.height,
                
           
                    background: 'rgba(197, 194, 194, 0.438)'
                  }"
                  [count]="tile.count"
                ></ngx-skeleton-loader>
              </ng-template>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
    </div>
    <div
      class="order-lg-3 order-3 col-lg-1 col-6 d-flex align-items-center justify-content-end"
      (click)="disablePrev ? null : goToPrev()"
    >
      <img
        [src]="imgs_url + 'prev.svg'"
        height="40%"
        width="40%"
        class="object-fit-contain"
        [style.opacity]="disablePrev ? '0.3' : '1'"
      />
    </div>
  </div>
</div>
