@import "https://fonts.googleapis.com/icon?family=Material+Icons";
html {
  height: 100%;
  overflow-y: auto;
}
@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
  $font-family: "Noto Sans Arabic",
);

@include angular-material-typography($custom-typography);
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Arabic", sans-serif;
  color: #584949;
  background-image: linear-gradient(
    270deg,
    #e9d1a5cc 0%,
    #f0827659 35%,
    #f0505317 100%
  );

  h1 {
    font-weight: 700;
  }
  .orange-text {
    color: #ff9863;
    font-weight: 700;
  }
  .gray-title {
    color: #584949;
    font-weight: 700;
  }
  a {
    color: rgb(58, 52, 52);
    text-decoration: none;
    :hover {
      color: rgb(100, 90, 90);
    }
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #58494979;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
button {
  box-shadow: none !important;

  outline: 0 !important;
}
